
@model OnlineStore.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-3" style="margin:100px 0 145px 360px;">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row" align="center">
                        @*<img src="~/Images/VerserLogo.png" style="height:50px;width:120px" />*@

                        @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <br />
                            <div class="col-lg-12">
                                <div class="input-group col-sm-12 col-md-offset-1">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(Model => Model.UserName, new { @class = "form-control", placeholder = "JMS UserID" })
                                </div>
                                <br />

                                <div class="input-group col-sm-12 col-md-offset-1">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", placeholder = "JMS Password" })
                                </div>
                                <div class="input-group col-sm-12 col-md-offset-1">
                                    <br />
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log in" style="background-color:grey;border-color:gray">
                                </div>

                                <div class="input-group col-sm-12 col-md-offset-1">
                                    <br />
                                    <a href="#" style="color:cornflowerblue" onclick="ShowRegisterNewUserPage();">New User Registration</a>
                                </div>
                                <div>
                                    @*@Html.Partial("_RegisterNewUser")*@
                                </div>
                            </div>
                            <div>
                                @if (TempData["ErrorMessage"] != null)
                                {
                                    <p style="color:red;padding-left:60px;">@TempData["ErrorMessage"].ToString()</p>
                                }
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    body {
        padding-top: 0px;
    }

    .panel-login {
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }

        .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
            height: 45px;
            border: 1px solid #ddd;
            font-size: 16px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

        .panel-login input:hover,
        .panel-login input:focus {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
        }

    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }

        .btn-login:hover,
        .btn-login:focus {
            color: #fff;
            background-color: orange !important;
            border-color: orange !important;
        }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
    function ShowRegisterNewUserPage() {
        $.ajax({
            type: "GET",
            data: { "ProductId": "1" },
            url: '@Url.Action("_RegisterNewUser", "Login")',
             success: function (data) {
                // alert(data);
                 $.confirm({                   
                    boxWidth: '500px',
                    useBootstrap: false,
                    title: '',
                    content: data,
                    closeIcon: true,                    
                    buttons: {
                        yes: { isHidden: true }
                    },
                });
            }
        });
    }
</script>

