################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OnlineStore.WebUI/bin
/OnlineStore.WebUI/obj
/packages
OnlineStore.WebUI/obj/Release/TransformWebConfig/transformed/Web.config
OnlineStore.WebUI/obj/Release/TransformWebConfig/original/Web.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Web.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Views/web.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
OnlineStore.WebUI/obj/Release/Package/PackageTmp/packages.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Content/Site.css
OnlineStore.WebUI/obj/Release/Package/PackageTmp/bin/OnlineStore.WebUI.pdb
OnlineStore.WebUI/obj/Release/Package/PackageTmp/bin/OnlineStore.WebUI.dll
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.pdb
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.dll
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.csprojAssemblyReference.cache
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.csproj.FileListAbsolute.txt
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.csproj.CoreCompileInputs.cache
OnlineStore.WebUI/obj/Release/_WPPLastBuildInfo.txt
OnlineStore.WebUI/obj/Release/TransformWebConfig/transformed/Web.config
OnlineStore.WebUI/obj/Release/TransformWebConfig/original/Web.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Web.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Views/web.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Views/Cart/Index.cshtml
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Views/Cart/Checkout.cshtml
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.map
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.js
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.js
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
OnlineStore.WebUI/obj/Release/Package/PackageTmp/packages.config
OnlineStore.WebUI/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
OnlineStore.WebUI/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
OnlineStore.WebUI/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
OnlineStore.WebUI/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Content/Site.css
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
OnlineStore.WebUI/obj/Release/Package/PackageTmp/Content/bootstrap.css
OnlineStore.WebUI/obj/Release/Package/PackageTmp/bin/OnlineStore.WebUI.pdb
OnlineStore.WebUI/obj/Release/Package/PackageTmp/bin/OnlineStore.WebUI.dll
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.pdb
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.dll
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.csprojAssemblyReference.cache
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.csproj.FileListAbsolute.txt
OnlineStore.WebUI/obj/Release/OnlineStore.WebUI.csproj.CoreCompileInputs.cache
OnlineStore.WebUI/obj/Release/_WPPLastBuildInfo.txt
