@model OnlineStore.WebUI.Models.ShoppingCart

@*<div class="navbar-right" style="border:1px 0 1px 1px solid black";>
    <a href=@Url.Action("Index", "ShoppingCart")
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
</div>*@
<div class="navbar-text navbar-left" style="color:white; margin:0; padding:15px 10px 15px 10px">
    @if (Model != null)
    {
        @Model.Lines.Sum(x => x.Quantity) ;
        <span>Item(s),</span>
        @Model.ComputeTotalValue().ToString("c");
    }

</div>
