
@{
    ViewBag.Title = "About";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#contactUs").addClass("active");
    });
</script>

<h2>Contact Us</h2>

<h3>Phone:</h3>
<p>+61 1800 732 668</p>

<h3>Email:</h3>
<p><b>Support: </b><a href="mailto:onlinesales@verser.com.au">onlinesales@verser.com.au</a></p>

<h3>Sydney Branch:</h3>
<div>
    Unit F1, 350 Parramatta Road<br />
    Homebush West<br />
    NSW 2140, Australia<br />
    Phone: +61 1800 732 668
</div>

<h3>Melbourne Branch:</h3>
<div>
    71-73 Link Drive<br />
    Campbellfield<br />
    VIC 3061, Australia<br />
    Phone: +61 3 9241 3255
</div>

<h3>Brisbane Branch:</h3>
<div>
    Building 4, T4<br />
    32 Precision Street<br />
    Salisbury QLD 4107, Australia<br />
    Phone: +61 7 3712 9100
</div>

<h3>Canberra Branch:</h3>
<div>
    4A Whyalla Street<br />
    Fyshwick ACT 2609, Australia<br />
    Phone: +61 2 6200 8777
</div>
<br />

<p>For DET support please email us at <a href="mailto:Det.enquires@verser.com.au">Det.enquires@verser.com.au</a></p>
    
