
@{
    ViewBag.Title = "FAQ";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>


<style>
    .results {
        display: flex;
    }

        .results p {
            flex: 1;
        }
</style>

<h3 style="font-weight:500;text-align:center;background-color:darkorange;color:white">Frequently Asked Questions</h3>
<div class="alert alert-info" style="border:1px solid lightGrey; margin:0 10px 20px 10px;">
    This section contains a wealth of information, related to <strong>@Session["CustomerName"]</strong> and its online store. If you cannot find an answer to your question,
    make sure to contact us at <a href="mailto:onlinesales@verser.com.au" style="color:dodgerblue">onlinesales@verser.com.au</a>.
</div>
<input id="filter" type="text" placeholder="Search Question with a Keyword..." style="width:300px;margin:0 0 10px 10px">
<div id="results" style="border:solid;border-color:grey;border-width:thin;padding-left:20px;margin-bottom:60px">
    <br />
    <div id="searchable">
        <p class="searchableQuestion"><strong>Q. What happens if my Device is found to be faulty?</strong></p>
        <div>
            A: Verser will offer a 10-day warranty period starting from the date of delivery for  replacement or a full refund If Device Found faulty.
        </div>
        <br />
    </div>
    <div id="searchable">
        <p class="searchableQuestion"><strong>Q. What happens if I have any further questions?</strong></p>
        <div><p style="color:cornflowerblue;font-weight:500;">A: Please ContactUs: +61 1800732668 OR Mail: <a href="mailto:Support@verser.com.au">Support@verser.com.au</a></p></div>
        <br />
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#faq").addClass("active");
        });

        $("#filter").keyup(function () {
            //alert('hi');
            // Retrieve the input field text and reset the count to zero
            var filter = $(this).val(),
                count = 0;
            var row = $(this).closest("tr");
            // Loop through the comment list
            $('.searchableQuestion').each(function () {


                // If the list item does not contain the text phrase fade it out
                if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                    $(this).closest("#searchable").hide();

                    // Show the list item if the phrase matches and increase the count by 1
                } else {
                    $(this).closest("#searchable").show();
                    count++;
                }

            });

        });

    </script>
