
@{
    ViewBag.Title = "Upgrade";
}

<h2>Windows 7 Upgrade</h2>
<img src="~/Content/Images/Windows7.jpg" style="width:300px;height:200px;" />
<br/>

<h3>Windows 7 Professional</h3>
<ul>
<li>Genuine Windows Authenticity.</li>
<li>New MAR COA affixed on all refurbished machines.</li>
<li>In-built Windows Recovery partition.</li>
<li>Online-web based support including Windows updates.</li>
</ul>

<p>MAR Windows 7 Professional comes pre-installed on the machine with inbuilt recovery media. No media supplied.</p>

<p>To learn more about the MAR program please view the PDF below. <br/><br/><a href="@Url.Content("~/Content/MAR_Fact_Sheet_FY14Q3.pdf")"target="_blank">MAR Fact Sheet</a></p>

