<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApplicationDataUri" value="https://versergateway.com.au/onlinestoredata/applicationdata.svc" />
    <add key="WMSDataUri" value="https://versergateway.com.au/onlinestoredata/wmsdata.svc" />
    <add key="Username" value="verser" />
    <add key="Password" value="Pass12#" />
    <!-- Replace _YOUR_ENCRYPTION_KEY_ with your encryption key from the PayWay web site. -->
    <add key="encryptionKey" value="lWnu6TsDILqp0j385gy8qA==" />
    <!-- Replace _BILLER_CODE_ with your biller code from the PayWay web site. -->
    <add key="billerCode" value="161182" />
    <!-- Replace _USERNAME_ with your PayWay Net username from the PayWay web site. -->
    <add key="payway_username" value="Q16118" />
    <!-- Replace _PASSWORD_ with your PayWay Net password from the PayWay web site. -->
    <add key="payway_password" value="Nnsp82uiz" />
    <!-- Change these parameters if your server requires a proxy server to connect
         to the PayWay server -->
    <add key="proxyHost" value="" />
    <add key="proxyPort" value="" />
    <!-- Change this to 24078966 when you are ready to go live. -->
    <add key="merchantId" value="24078966" />
    <!-- Change this to your Paypal email address when you are ready to go live. -->
    <add key="paypalEmail" value="test@example.com" />
    <!-- Leave this entry as is -->
    <add key="payWayBaseUrl" value="https://www.payway.com.au/" />
    <!-- Enable this to fully customise the UI for your payments 
         You MUST make sure that the form on the EnterCCDetails page
         submits directly to the PayWay server. ASP designer controls
         will submit their values back to your server before they are
         sent to the PayWay server.
         If credit card data touches your servers,
         you must be PCI-DSS compliant. (Default was false)
         -->
    <add key="tailoredSolution" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="jms@verser.com.au">
        <network host="mail.verser.com.au" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
