<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<link href="~/Content/responsive-tiles.css" rel="stylesheet" />
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <section class="cms-boxes">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 cms-boxes-outer">
                    <div class="cms-boxes-items cms-Dell-xps-13">
                        <div class="boxes-align">
                            <div class="small-box">
                                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                                <h3 style="color:blue;">Auction</h3>
                                <p>Dell Laptop.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 cms-boxes-outer">
                    <div class="cms-boxes-items cms-iPhone11ProMax">
                        <div class="boxes-align">
                            <div class="small-box">
                                <i class="fa fa-4x fa-cog">&nbsp;</i>
                                <h3 style="color:blue;">Auction</h3>
                                <p>IPhone Pro Max.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 cms-boxes-outer">
                    <div class="cms-boxes-items cms-iphone-xs-silver">
                        <div class="boxes-align">
                            <div class="small-box">

                                <h3 style="color:blue;">Auction</h3>
                                <p>IPhone XS Silver.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 cms-boxes-outer">
                    <div class="cms-boxes-items cms-mac2">
                        <div class="boxes-align">
                            <div class="large-box">
                                <i class="fa fa-4x fa-heart" aria-hidden="true"></i>
                                <h3 style="color:blue;">Auction</h3>
                                <p>Mac Book</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 cms-boxes-outer">
                    <div class="cms-boxes-items cms-mac1">
                        <div class="boxes-align">
                            <div class="large-box">
                                <i class="fa fa-4x fa-file-code-o">&nbsp;</i>
                                <h3 style="color:blue;">Auction</h3>
                                <p>Mac Book.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
<style>
    section.cms-boxes .cms-Dell-xps-13 {
        background: url(/Content/images/Dell-xps-13.jpg) 0 0 no-repeat;
        background-size: cover;
    }
    section.cms-boxes .cms-iPhone11ProMax {
        background: url(/Content/images/iPhone11ProMax.jpg) 0 0 no-repeat;
        background-size: cover;
    }
    section.cms-boxes .cms-iphone-xs-silver {
        background: url(/Content/images/iphone-xs-silver.jpg) 0 0 no-repeat;
        background-size: cover;
    }
    section.cms-boxes .cms-mac1 {
        background: url(/Content/images/mac1.jpg) 0 0 no-repeat;
        background-size: cover;
    }
    section.cms-boxes .cms-mac2 {
        background: url(/Content/images/mac2.jpg) 0 0 no-repeat;
        background-size: cover;
    }
</style>
