
@{
    ViewBag.Title = "Index";
}

<!------ Include the above in your HEAD tag ---------->

<div class="container">
	
	<div class="row">
		<div class="col-sm-4">
			<div class="item"> <img style="max-width:100%;" src="~/Images/DellMonitor.jpg" alt="Submit" width="220" height="220"></div>

		</div>
		<div class="col-sm-4">
			<div class="item"> <img style="max-width:100%;" src="~/Images/Desktop.jpg" alt="Submit" width="220" height="220"></div>
		</div>
		<div class="col-sm-4">
			<div class="item"> <img style="max-width:100%;" src="~/Images/ipad1.png" alt="Submit" width="220" height="220"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="item"> <img style="max-width:100%;" src="~/Images/apple.jpeg" alt="Submit" width="220" height="220"></div>

		</div>
		<div class="col-sm-4">
			<div class="item"> <img style="max-width:100%;" src="~/Images/hp.png" alt="Submit" width="220" height="220"></div>
		</div>
		<div class="col-sm-4">
			<div class="item"> <img style="max-width:100%;" src="~/Images/dell.png" alt="Submit" width="220" height="220"></div>
		</div>
	</div>
</div>

<style>

    
		.item{
			left: 0;
			top: 0;
			position: relative;
			overflow: hidden;
			margin-top:50px;
			
		}
		.item img{
			-webkit-transition: 0.6s ease;
  			transition: 0.6s ease;
  			
		}
		.item img:hover{
			-webkit-transform: scale(1.2);
  			transform: scale(1.2);

		}
		.img-thumbnail{
		    border:0px;
		    border-radius:0px;
		}

		</style>