@{
    ViewBag.Title = "AuctionAssetBundleBidingDetails";
}

<div class="" style="padding-left:50px;padding-right:50px;padding-bottom:30px;">
    <div class="card text-center">
        <div class="card-header">
            Asset Auction Bundle Product Name
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Assets Title</h5>
                            <img src="~/Images/iphone-xs-silver.jpg" style="height:350px;" />
                        </div>
                        <div class="card-footer">
                            <div>
                                <img src="~/Images/galaxys9.jpg" style="height:50px;" />
                                <img src="~/Images/iPhone11ProMax.jpg" style="height:50px;" />
                                <img src="~/Images/ipad2.jpg" style="height:50px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-4">
                                <div class="card border-info mb-3">
                                    <div class="card-header" style="color:green;font-size:small;font-weight:700">Current Price $2,000.00 No Reserve</div>
                                    <div class="card-body">
                                        <h5 class="card-title"><input type="submit" class="btn-danger btn-lg" value="Quick Bid $2,100.00" /></h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <input type="text" placeholder="$ Biding Amount Here.."> <a href="#" class="btn btn-success btn-lg">BID</a>

                                        <p style="padding-top:20px;">
                                            <a href="#" class="btn btn-success btn">BUY NOW $2,100.00</a>
                                        </p>
                                        <p style="padding-top:20px;">
                                            <label>Remaining Time</label> <label style="color:red;font-weight:800">5 Days 11:43:02</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card border-info mb-3">
                                    <div class="card-header">Bundle Full Description</div>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card border-info mb-3">
                                    <div class="card-header">Live Biding's</div>
                                    <p class="card-text">Price $2,000.00</p>
                                    <p class="card-text">Price $1,900.00</p>
                                    <p class="card-text">Price $1,800.00</p>
                                    <p class="card-text">Price $1,700.00</p>
                                    <p class="card-text">Price $1,600.00</p>
                                    <p class="card-text">Price $1,500.00</p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">              
                                        <div class="pull-left" style="padding-right:20px;">
                                            <input type="submit" class="btn btn-warning" value="Assets Reference List" />
                                        </div>
                                        <div class="pull-left"  style="padding-right:20px;" >
                                            <input type="submit" class="btn btn-warning" value="Full History Of Biding" />
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted" >
                        <p style="color:dodgerblue;font-weight:500"> Bundle #Item 45789123 AUCTION End Date: Monday December 28 2020 12:00:00 - Start Date : Monday 14 December 2020 12:00:00</p>
                    </div>
                </div>
            </div>
