@model IEnumerable<OnlineStore.WebUI.Models.AuctionBundleListModel>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery.countdownTimer.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.countdownTimer.css" />
<div style="width:100%;padding-left:30px;padding-right:30px;padding-bottom:10px;">
    <div class="card-header border-secondary  mb-3">
        <h5 style="color:darkgray;font:400;align-content:center"> Asset Auction </h5>
    </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4 border" style="padding:10px;">
                @foreach (var item in Model.Take(4).ToList())
                {
                    <div class="col">
                        <div class="card  border-success mb-3">
                            <img src="~/Images/iPhone11ProMax.jpg" class="card-img-top" style="height:350px;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.BundleTitle</h5>
                            </div>
                            <div class="card-footer" id="updateTime">
                                <small class="text-muted">
                                    @using (Html.BeginForm("AuctionAssetBundleBidingDetails", "AssetAuction", new { BundleID = @item.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="submit" class="btn btn-success" value="Bid Auction" />
                                    }
                                    <label style="font-weight:700;color:orangered">Auction Timer: </label> <label class="pull-right">Current Bid $@item.BundleBaseprice </label>
                                </small>
                                <table style="border:0px;">
                                    <tr>
                                        <td colspan="4"><span id="current_timer"></span></td>
                                    </tr>
                                </table>
                                <script>
                                    $(function () {
                                        $('#current_timer').countdowntimer({
                                            currentTime: true,
                                            size: "sm"
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    }

                 @*<div class="col">
                <div class="card border-success mb-3">
                    <img src="~/Images/Dell-xps-13.jpg" class="card-img-top" style="height:350px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Laptop Bundle</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            @using (Html.BeginForm("AuctionAssetBundleBidingDetails", "AssetAuction", FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-success" value="Bid Auction" />
                            }
                            <label style="font-weight: 700;color: orangered">Auction Timer: </label> <label class="pull-right">Current Bid $2500.00 </label>
                        </small>
                        <table style="border:0px;">
                            <tr>
                                <td colspan="4"><span id="current_timer1"></span></td>
                            </tr>
                        </table>
                        <script>
                            $(function () {
                                $('#current_timer1').countdowntimer({
                                    currentTime: true,
                                    size: "sm"
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-success mb-3">
                    <img src="~/Images/DellMonitor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Monitor Bundles</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            @using (Html.BeginForm("AuctionAssetBundleBidingDetails", "AssetAuction", FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-success" value="Bid Auction" />
                            }
                            <label style="font-weight:700;color:orangered">Auction Timer: </label> <label class="pull-right">Current Bid $500.00 </label>
                        </small>
                        <table style="border:0px;">

                            <tr>
                                <td colspan="4"><span id="current_timer2"></span></td>
                            </tr>
                        </table>
                        <script>
                            $(function () {
                                $('#current_timer2').countdowntimer({
                                    currentTime: true,
                                    size: "sm"
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-success mb-3">
                    <img src="~/Images/Galaxy S10plus.jpg" class="card-img-top" style="height:350px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Samsung Mobile Bundle</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            @using (Html.BeginForm("AuctionAssetBundleBidingDetails", "AssetAuction", FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-success" value="Bid Auction" />
                            }
                            <label style="font-weight:700;color:orangered">Auction Timer: </label> <label class="pull-right">Current Bid $1500.00 </label>
                        </small>
                        <table style="border:0px;">

                            <tr>
                                <td colspan="4"><span id="current_timer3"></span></td>
                            </tr>
                        </table>
                        <script>
                            $(function () {
                                $('#current_timer3').countdowntimer({
                                    currentTime: true,
                                    size: "sm"
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>*@
              </div>
        </div>     
    </div>
