@model IEnumerable<OnlineStore.WebUI.Models.AuctionBundleListModel>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="~/Scripts/jquery.countdownTimer.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.countdownTimer.css" />
<div class="container-fluid" style="max-width:95%;padding:0;">
    <div class="card-body" style="overflow:hidden">
        <div class="row row-cols-1 row-cols-md-2 g-4 border" style="padding:10px;">
            @foreach (var item in Model)
            {
                <input type="hidden" id="hdnStartTime" value='@item.Bundle_Auction_StartDate.ToString("yyyy/MM/dd HH:MM:ss")' />
                <div class="col">
                    <div class="card  border-success mb-3">
                        <div style="text-align:center; overflow:hidden">
                            <img src="~/Images/iPhone11ProMax.jpg" class="card-img-top" style="height:300px; width:300px; display:inline-block" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.BundleTitle</h5>
                        </div>
                        <div class="card-footer" id="updateTime">
                            <small class="text-muted">
                                @using (Html.BeginForm("AuctionAssetBundleBidingDetails", "AssetAuction", new { BundleID = @item.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="submit" class="btn btn-success" value="Bid Auction" />
                                }
                                <label style="font-weight:700;color:orangered">Auction Timer: </label> <label class="pull-right">Current Bid $@item.BundleBaseprice </label>
                            </small>
                            <table style="border:0px; max-width:100%">
                                <tr>
                                    <td ><span id="current_timer" class="current_timer"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>


</style>

<script>
    //$(function () {
    //    $('.current_timer').countdowntimer({
    //        currentTime: true,
    //        size: "sm"
    //    });
    //});

    $(function () {
        $(".current_timer").countdowntimer({
            dateAndTime: '2021/02/02 10:30:00',
            size: "sm",
            regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
            regexpReplaceWith: "$1<sup>days</sup>/$2<sup>hrs</sup>/$3<sup>mins</sup>/$4<sup>secs</sup>"
        });
    });
</script>